.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #383337;
    color: white;
    nav {
        display: flex;
        gap: 15px;
        align-items: center;
        .logo {
            font-size: 1.5em;
            font-weight: bold;
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 1em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}