.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .auth-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100dvh;
        padding: 0 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 8px 8px 0;
        background-color: var(--mat-sys-surface-container-highest);

        @media (max-width: 768px) {
            flex: 1;
            flex-direction: column;
        }

        .login {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 10px 8px;
            min-height: 35dvh;

            a {
                text-align: right;
                font-size: 0.875rem;
                color: var(--mat-sys-primary);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .register {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 10px 8px;
            min-height: 35dvh;
        }
    }

    .video-container {
        flex: 3;

        @media (max-width: 768px) {
            flex: 0;
            flex-direction: column;
        }
    }
}

.underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}