.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.formRegisterCat {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
}